.property-form-container {
  margin-top: 20px;
}

.property-form-container h2 {
  margin-bottom: 10px;
}

.property-form-container form {
  display: flex;
  flex-direction: column;
}

.property-form-container label {
  margin-bottom: 10px;
}

.property-form-container input,
.property-form-container textarea {
  width: 100%;
  padding: 5px;
  border-radius: 4px;
}

.listing-form {
  display: flex;
  flex-direction: column;
  place-content: center;
  justify-content: space-around;
  margin: 1rem;
  width: 30vw;
  row-gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;
}

.dark-theme {
  background-color: #333;
  color: #fff;
}

body {
  transition: background-color 0.3s, color 0.3s;
}

.dark-theme body {
  background-color: #333;
  color: #fff;
}

.theme-button {
  margin-bottom: 10px;
  padding: 5px 10px;
  border-radius: 4px;
}